[submodule "hemlock-pro-assets"]
	path = ProAssets
	url = git@github.com:kenstir/hemlock-pro-assets.git
[submodule "hemlock-assets"]
	path = FreeAssets
	url = https://github.com/kenstir/hemlock-assets.git
