*~
*~.storyboard
.DS_Store
**/xcuserdata/

# see also https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md
/Carthage
/update.log

# exclude secrets and test data
Secrets/**
TestConfig/**
TestUserData/**

# Firebase creds
GoogleService-Info.plist

# Fastlane
**/fastlane/README.md
**/report.xml

# Build artifacts
/build/**
