*~
*~.storyboard
.DS_Store
**/xcuserdata/

# see also https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md
/Carthage
/update.log

# exclude test data
TestConfig/**
TestUserData/**

# Firebase creds
GoogleService-Info.plist
