[submodule "hemlock-pro-assets"]
	path = Assets/Pro
	url = git@github.com:kenstir/hemlock-pro-assets.git
[submodule "hemlock-assets"]
	path = Assets/OpenSource
	url = https://github.com/kenstir/hemlock-assets.git
