github "Alamofire/Alamofire" == 4.8.2
github "texturegroup/texture" == 3.1.0
github "mxcl/PromiseKit" == 6.22.0
github "kenstir/PMKAlamofire" "fef3ae07939aef0cbc455fa54d392f0f5288d6e9"
github "Square/Valet" == 3.2.3
github "scalessec/Toast-Swift" == 4.0.1
github "zxingify/zxingify-objc" == 3.6.7
