github "Alamofire/Alamofire" == 5.8.1
github "mxcl/PromiseKit" == 8.1.1
github "PromiseKit/PMKAlamofire" == 5.0.1
github "pinterest/PINOperation" == 1.2.3
github "pinterest/PINCache" == 3.0.4
github "pinterest/PINRemoteImage" == 3.0.4
github "Square/Valet" == 3.2.3
github "scalessec/Toast-Swift" == 5.1.1
github "zxingify/zxingify-objc" == 3.6.9
